<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Ecomm Control Panel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-table/dist/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/dist/bootstrap-table.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <script type="text/javascript" th:src="@{/webjars/font-awesome/js/fontawesome.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">

<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/contact-form.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-user-form.css}">
    <script type="text/javascript" th:src="@{/js/all.js}"></script>

</head>