.contact-form {
  padding: 1rem 2rem 2rem;
  max-width: 45rem;
  flex-basis: auto;
  flex-grow: 1;
  margin: 0 auto;
}

.headline-contact-form {
  display: block;
  padding: 0rem;
  font-weight: 500;
  font-size: 2.2rem;
  margin: 0rem 0rem 1rem;
  text-align: center;
}


.contact-form>.form-group {
  margin-bottom: 1.2rem;
}

.contact-form-control {
  resize: vertical;
  border-width: 0 0 .1rem 0;
  border-radius: 0rem;
  padding: .5rem 1rem;
  outline: none;
  box-shadow: none !important;
}

.contact-form-control:hover,
.contact-form-control:focus,
.contact-form-control:active {
  box-shadow: none;
  outline: none;
}

.contact-form-control::placeholder {
  font-size: 1rem;
  vertical-align: text-bottom;
}

.btn-contact-form {
  background-color: #656565;
  border-radius: 1rem;
  font-size: 1.75rem;
  font-weight: 100;
  padding: .95rem 4rem;
  color: #fff;
  border: none;
}

.btn-contact-form:hover,
.btn-contact-form:focus {
  background-color: #333333;
  color: #ffffff;
}

.form-control-msg {
  display: none;
  padding-left: 16px;
  font-size: 0.9rem;
  font-weight: 500;
}

.is-invalid ~ .form-control-msg {
  display: block;
}

.js-show-feedback {
  display: block;
}

/******************************************************************************

  recaptcha specific styling

******************************************************************************/
.g_contactus__terms{
  font-size: .95rem;
  margin: 20px auto;
}

.g_contactus__terms > a {
  text-decoration: underline;
}

.grecaptcha-badge {
  visibility: hidden;
}